@page
@model ContactDatabase.Pages.EditModel


<div class="row">
    <h1 class="text-center">Edit Contact</h1>
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <input asp-for="EditContact.Id" hidden/>
            <input asp-for="EditContact.Username"  hidden/>
            <input asp-for="EditContact.Password" hidden />
            <input asp-for="EditContact.Roles" hidden />
            @{
                string saltString = Convert.ToBase64String(Model.EditContact.Salt);
                <input asp-for="EditContact.Salt" value="@saltString" hidden/>
            }            
            <div class="mb-3">
                <label class="form-label" asp-for="EditContact.FirstName">First Name</label>
                <input class="form-control" type="text" asp-for="EditContact.FirstName" id="FirstName" name="EditContact.FirstName">
                <span asp-validation-for="EditContact.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="EditContact.LastName">Last Name</label>
                <input class="form-control" type="text" asp-for="EditContact.LastName" id="LastName" name="EditContact.LastName">
                <span asp-validation-for="EditContact.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="EditContact.Email">Email</label>
                <input class="form-control" type="email" asp-for="EditContact.Email" id="Email" name="EditContact.Email">
                <span asp-validation-for="EditContact.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="EditContact.Title">Title</label>
                <select asp-for="EditContact.Title" id="title" class="form-select" name="EditContact.Title">
                    <option selected>Select a title</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                    <option value="Dr">Dr</option>
                    <option value="Prof">Prof</option>
                </select>
                <span asp-validation-for="EditContact.Title"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="EditContact.Description">Description</label>
                <textarea class="form-control" type="text" asp-for="EditContact.Description" id="description" name="EditContact.Description"></textarea>
                <span asp-validation-for="EditContact.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="EditContact.DateOfBirth">Date of Birth</label>
                <input class="form-control" asp-for="EditContact.DateOfBirth" id="date_of_birth" name="EditContact.DateOfBirth" asp-format="{0:MM-dd-yyyy}" />
                <span asp-validation-for="EditContact.DateOfBirth" class="text-danger"></span>
            </div>
            <label class="form-control p-0 mb-3 border-0">Are you married?</label>
            <div class="form-check">
                <input class="form-check-input" asp-for="EditContact.MarriageStatus" type="radio" name="EditContact.MarriageStatus" id="married1" value=true>
                <label class="form-check-label" for="married1">
                    Yes
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" asp-for="EditContact.MarriageStatus" name="EditContact.MarriageStatus" id="married2" value=false>
                <label class="form-check-label" for="married2">
                    No
                </label>
            </div>
            <span asp-validation-for="EditContact.MarriageStatus" class="text-danger"></span>
            <div class="mb-3">
                <button type="submit" class="btn btn-success mt-3">Edit Contact</button>
            </div>
        </form>

    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
